.deck {
  padding: 0;
  line-height: 0;
  margin: 0 -10px 0 0;
}

.card {
  width: calc(33% - 10px);
  list-style: none;
  margin-bottom: 10px;

  img {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
  }

  &-image-wrapper {
    padding-top: 50%;
    position: relative;
    // background-color: lightgrey;
  }

  &-name {
    position: absolute;
    top: 5px;
    left: 5px;
    margin: 0;
    line-height: 1.5;
  }

  &-symbol {
    @extend .card-name;
    left: auto;
    right: 5px;
  }
}

.tab {
  &-list {
    padding: 0;
    margin: 0 0 15px;
  }
  
  &-item {
    display: inline-block;
    list-style: none;
    width: 180px;
    max-width: 20%;

    > a {
      display: block;
      color: inherit;
      &:active, &:hover {
        text-decoration: none;
      }
    }

    &.active {
      .tab-icon {
        border-color: white;
      }
    }
  }

  &-icon {
    width: 90px;
    padding: 3px;
    border: 1px solid transparent;
    border-radius: 6px;
  }

  &-count {
    padding-left: 5px;
    margin-top: 10px;
    vertical-align: middle;
    display: inline-block;
  }
}